<ion-header>
  <ion-toolbar>
    <ion-title>{{ cliente ? 'Editar Cliente' : 'Añadir Cliente' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clienteForm" (ngSubmit)="saveCliente()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Suscripcion</ion-label>
        <ion-textarea formControlName="suscripcion"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input formControlName="telefono"></ion-input>
      </ion-item>      
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button type="submit" [disabled]="clienteForm.invalid">
            Guardar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
