<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addPedido(cliente)">
        <ion-icon name="add-circle-outline"></ion-icon>
        Añadir
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><strong>ID</strong></ion-col>
      <ion-col><strong>Coste Total</strong></ion-col>
      <ion-col><strong>Direccion</strong></ion-col>
      <ion-col><strong>Metodo de pago</strong></ion-col>
    </ion-row>
    <ion-row id="pedido-row" *ngFor="let pedido of pedidos">
      <ion-col>{{ pedido.id_pedido }}</ion-col>
      <ion-col>{{ pedido.coste_total }}</ion-col>
      <ion-col>{{ pedido.direccion }}</ion-col>
      <ion-col>{{ pedido.metodo_pago}}</ion-col>

    </ion-row>
  </ion-grid>
</ion-content>