ion-col {
    text-align: center;
}

#client-row{
    border: 2px solid;
    background-color: rgb(73, 73, 73);
    border-color: gray;
    border-radius: 25px;
    margin-bottom: 1em;
    align-items: center;
    cursor: pointer;
}

